.chat {
  position: fixed;
  right: 5px;
  top: 60px;
  width: 270px;
  z-index: 2;
}

.chat .input {
  position: absolute;
  height: 20px;
  bottom: 5px;
  width: 100%;
}

.chat .output {
  overflow-y: auto;
  padding: 7px;
  padding-top: 5px;
  height: 300px;
  margin-bottom: 20px;
}

.chat .well {
  padding: 0;
  margin: 0;
}

a.list-group-item {
  color: white;
}

a.list-group-item:hover, a.list-group-item:focus {
  background-color: #303030;
}

.chat .panel-body {
  padding: 0px;
}

.chat .list-group {
  margin-bottom: 0px;
  padding: 1px 5px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  border-left: 1px solid rgb(100, 100, 100);
}

.chat .list-group-item {
  padding: 1px 10px;
  margin: 3px 0px;
  background-color: rgba(0, 0, 0, .5);
}

.chat .input input {
  width: 99%;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border-top: 1px solid rgb(100, 100, 100);
}

.chat .output b {
  color: rgb(168, 202, 255);
}

.chat .output b.admin{
  color: rgb(216, 75, 255);
}

.chat .output .sys-msg b {
  color: rgb(255, 181, 47);
}